@page "/employees"
@using ClothingWorkshop.WEB.Components;
@using ClothingWorkshop.WEB.Models;
@using ClothingWorkshop.WEB.Services;
@inject EmployeeService EmployeeService
@inject NavigationManager Navigation

<h3>EmployeesList</h3>

<p>
    <button class="btn btn-primary" @onclick="OpenCreateEmployeeModal">Create New Employee</button>
</p>

@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Puesto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (employees != null)
            {
                @foreach (var employee in employees)
                {
                    <tr>
                        <td>@employee.EmployeeId</td>
                        <td>@employee.Name</td>
                        <td>@employee.Occupation</td>
                        <td>
                            <button class="btn btn-secondary" @onclick="() => EditEmployee(employee.EmployeeId)">Edit</button>
                            <button class="btn btn-danger" @onclick="() => DeleteEmployee(employee.EmployeeId)">Delete</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

<CreateEmployeeModal @ref="createEmployeeModal" OnEmployeeAdded="ReloadEmployees" />

@code {
    private IEnumerable<EmployeeDto> employees;
    private CreateEmployeeModal createEmployeeModal;


    protected override async Task OnInitializedAsync()
    {
        await LoadEmployees();
    }

    private async Task LoadEmployees()
    {
        employees = await EmployeeService.GetEmployeesAsync();
    }

    private async Task ReloadEmployees()
    {
        await LoadEmployees();
        StateHasChanged();
    }

    private void OpenCreateEmployeeModal()
    {
        createEmployeeModal.Show();
    }


    private void EditEmployee(int employeeId)
    {
        Navigation.NavigateTo($"/employees/edit/{employeeId}");
    }

    private async Task DeleteEmployee(int employeeId)
    {
        Navigation.NavigateTo($"/employees/delete/{employeeId}");
    }

}
